body{
  background-color: #FFF;
}
.item .contenido{
  color: black;
}
h1{
  color: black !important;
}
.btn_cantera{
    color: black;
    border-color: black;
}
hr{
  color: black;
  border-color: black;
  border-width: 2px;
}
.numero hr{
  color: #E52822;
  border-color: #E52822;
}
* {
    color: black;
}
.nav-masthead .nav-link{
  color: black;
}
.puntos{
    background-image: linear-gradient(to right, #000 33%, rgba(255,255,255,0) 0%) !important;
}
.box_capacitaciones .title{
  color: #E52822;
}
.plus{
  width: 11px !important;
  height: 11px !important;
  background-image: none;
}
#header .nav-link{
  color: black;
}
