.calculadora label {
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 0.5em;
  font-family: 'silkamedium';
}
.calculadora input {
  border-top: none;
  border-left: 2px solid #000;
  border-right: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  font-size: 13px;
  font-family: 'silkalight';
}
.calculadora__entrada::before,
.calculadora__salida::before {
  content: "";
  display: block;
  background-color: #000;
  width: 2px;
  position: absolute;
  top: -1em;
  bottom: -1em;
  left: 0;
}
/*.form-control:disabled, .form-control[readonly]{
	background-color: white;
}*/
.calculadora select {
  border: 1px solid #000;
  border-radius: 0;
}
.calculadora__grupo {
  border-top: 2px solid #000;
  padding: 0rem 0;
  margin: 0 1rem;
}

.label_resultado_content{
	background-color: transparent;
	display: flex;
	justify-content: flex-end;
}
.label_resultado_content label{
	margin-bottom: 0px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    outline-width: 0;
}
.calculadora input.i-calc:focus{
	outline: none;
    outline-width: 0;
}
.calculadora input.i-calc{
	background-color: white;
	padding-right: 5px;
	text-align: right;
}
@media (min-width: 767px) {
	.nopadleftright{
		padding-left: 0px;
		margin-left: 0px;
		padding-right: 0px;
		margin-right: 0px;
	}
}
.calculadora input.i-calc:disabled,.calculadora input.i-calc[readonly]{
	background-color: #D3D3D3;
}
@media (max-width: 767px) {
	.lbl-resistencia{
		padding-left: 0px !important;
	}
	.calculadora label.label_resultado{
		padding-left: 0px;
		margin-left: 0px;
		background-color: transparent;
	}
	.resultado_2{
		margin-top: 10px;
	}
	.calculadora--muro .calculadora__grupo--muro{
		border: none !important;
	}
	.calculadora__salida{
		margin-top: 30px;
	}
	.calculadora--muro .calculadora__grupo--muro{
		border-top: none !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.calculadora input.i-calc{
		padding-left: 15px;
		text-align: left;
	}
	.calculadora__grupo {
		border-top: 0px;
	}
	.calculadora label{
		padding-left: 1rem;
	}
}
.calculadora__grupo:first-child {
  border: none;
}
.calculadora__salida table {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.calculadora__salida table th {
  font-size: 13px;
  font-weight: 400;
  padding: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: 'silkamedium';
}
.calculadora__salida table th .top_titulo{
	line-height: 15px;
	display: block;
	font-size: 14px;
}
.calculadora__salida table th .small_text{
	font-size: 11px;
	line-height: 11px;
	font-weight: 300;
}
.calculadora__valor {
  border-top: none;
  border-left: 2px solid #000;
  border-right: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  padding: 0.2em 0.5em;
  text-align: right;
  font-size: 13px;
  font-family: 'silkalight';
}


.calculadora__resultados--muro {
  display: none;
}
.calculadora__grupo--muro {
  display: none;
}
.calculadora--muro .calculadora__grupo {
  display: none;
}
.calculadora--muro .calculadora__resultados {
  display: none;
}
.calculadora--muro .calculadora__grupo--muro {
  display: block;
  border-top: 2px solid #000;
  padding: 2rem 0;
  margin: 0 1rem;
}
.calculadora--muro .calculadora__grupo--muro:first-child {
  border: none;
}
.calculadora--muro .calculadora__resultados {
  display: none;
}
.calculadora--muro .calculadora__resultados--muro {
  display: table;
}
