.box_temario{
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p{
	font-size: 14px;
	line-height: 15px;
}
.option{
	
}

.option.correct span{
	color: green !important;
	font-weight: bold;
	font-family: 'silkabold';
} 
.option.incorrect span{
	color: red !important;
	font-weight: bold;
	font-family: 'silkabold';
}

.box_temario .contenido{
   font-size: 16px;
   line-height: 16px;
   text-align: center;
  max-width: 500px;
}

ul li{
	font-family: 'silkalight';
}
ul li p{
	padding-bottom: 0px;
	margin-bottom: 10px;
}
ul li ul{
	margin-bottom: 20px;
}
.linea_central{
  width: 1px;
  height: 80px;
  margin-bottom: 30px;
  background-color: black;
}
.linea_final{
  width: 90px;
  height: 1px;
  background-color: #E52822;
  margin-top: 30px;
}
.box_temario h1{
  margin-bottom: 25px;
}

.top_space{
	display: none !important;
}
.botonera{
	background-color: transparent;
	display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.botonera .lcontent{
	background-color: transparent;
}
.botonera .rcontent{
	background-color: transparent;
	display: flex;
}
.btn_cantera{
	display: block;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.botonera .rcontent .btn_cantera:first-child{
	margin-right: 10px;
}

h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
}

@media (max-width: 767px){
	.botonera{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.botonera .rcontent{
		flex-direction: column;
	}
	.botonera .rcontent .btn_cantera:first-child{
		margin-right: 0px;
	}
	.btn_cantera{
		margin-bottom: 10px;
	}
}