/*
* {
	background-color: rgba(0, 0, 0, 0.1);
}*/
body {
	/*background-color: #9A9A99;*/
}
iframe {
   	border: none;
}
video{
	width: 100%;
}
.fullscreen{
	width: 30px;
	height: 30px;
	background-image: url(../img/fullscreen.svg);
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 5px;
}
*:focus {
    outline: none;
}
.lcontent{
  text-align: right;
}
.top_text{
	font-size: 14px;
}
.mobile{
	display: none;
}
@media (max-width: 767px) {
	#header .logo {
		width: 250px;
	}
	.mobile{
		display: block;
	}
	.desktop{
		display: none;
	}
}
.menu_mobile .numero.uno{
	width: 8px;
	margin-right: 8px;
}
.menu_mobile .numero{
	width: 12px;
	margin-right: 6px;
}
h2{
	font-family: 'silkabold';
	text-transform: uppercase
}
p{
	font-family: 'silkalight';
}
p b{
	font-family: 'silkabold';
}
#header .nav-link {
	font-family: 'silkalight';
	font-weight: 700;
	color: white;
	font-size: 15px;
}
#header .nav-link:hover{
	font-family: 'silkamedium';
}
#header .nav-link.selected{
	font-family: 'silkamedium';
}
#header .divisor {
	line-height: 1;
}
.item .contenido a:hover{
	font-family: 'silkamedium';
}
hr {
	color: white;
	border-color: white;
	border-width: 2px;
}

#footer {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #fff;
	background-color: #000;
	min-height: 100px;
}

#footer .unacem {
	background-color: transparent;
	height: 40px;
	display: flex;
	align-items: center;
	padding-right: 20px;
	font-family: 'silkabold';
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #fff;
	font-size: 13px;
}
.invalid-feedback{
	color: white;
}
#footer .copy {
	height: 40px;
	font-size: 13px;
	display: flex;
	align-items: center;
	padding-left: 20px;
}
/*.footer_spacing{
	width: 100%;
	height: 200px;
	background-color: red;
}*/
.top_space_inicio{
	width:100%;
	height:15%;
	background-color: transparent;
}
.top_space{
	width:100%;
	height:7%;
	background-color: transparent;
}

.btn_cantera{
  background-color: transparent;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  outline: none !important;
  font-family: 'silkamedium';
	width: 135px;
	text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  color: white;
}
.btn_cantera.disabled{
	opacity: 0.5;
}
.btn_cantera:hover{
  color: white;
  font-weight: bold;
  background-color: black;
  text-decoration: none !important;
}
.blanco{
	color:white;
	border-color: white;
}
.container_footer{
	position: relative;
}
.container_footer .back_button{
	position: absolute;
	right: 0px;
	top:-90px;
	width: 45px;
	height: 45px;
	background-color: rgba(0,0,0,0.7);
	background-image: url(../img/flecha-abajo-circulo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	transform: rotate(90deg);
	cursor: pointer;
	border-radius: 22.5px;
	 
}
@media (max-width: 991px) {
	.nav-link{
		font-size: 11px;
	}
}
@media (max-width: 767px) {
	.top_space_inicio{
		height: 20px;
	}
	.container_footer .back_button{
		right: 5px;
	}
	.top_space{
		height: 20px;
	}
	.container_footer .back_button{
		top:-70px;
	}
	#footer{
		padding-top: 5px !important;
		height: 85px;
	}
	#footer .container .in {
		flex-direction: column;
	}#footer .unacem {
		border-right: none;
		padding-right: 0px;
		justify-content: center;
		height: 22px;
	}
	#footer .copy {
			padding-left: 0px;
			font-size: 11px;
			text-align: center;
			font-size: 10px;
			line-height: 12px;
	}
	#footer .container .in {
		flex-direction: column;
	}
	#header hr{
		display: none;
	}
	.circle_content{
		margin-top: 15px;
	}
	.circle_content .circle_wraper{
		padding-top: 5px;
	}
}


@media (max-width: 767px) {
	#footer{
		align-items: flex-start !important;
		padding-top: 10px;
	}
}