.desktop {
	display: block;
}

@media (max-width: 767px) {
	.desktop {
		display: none;
	}
}

.mobile {
	display: none;
}


	
@media (max-width: 767px) {
	.mobile {
		display: block;
	}
}

#footer .copy b {
	color: #fff !important;
}

#footer .copy div {
	color: #fff !important;
}

#footer .unacem {
	color: #fff !important;
}

.justify-items-center {
	justify-content: center;
}
.lista_top a{
	text-decoration: none;
}
.lista_top a:hover{
	font-family: 'silkamedium';
}
.lista_top .numero.uno {
	width: 8px;
	margin-right: 8px;
}

.lista_top .numero {
	width: 12px;
	margin-right: 6px;
}

.menu_mobile .numero.uno {
	width: 8px;
	margin-right: 8px;
}

.menu_mobile .numero {
	width: 12px;
	margin-right: 6px;
}

h1 {
	color: #fff;
	font-family: 'silkabold';
}

.menu_mobile ul li a {
	color: #fff;
}
.menu_mobile ul li ul li{
	font-size: 12px;
}
.menu_mobile ul li ul li{
	margin-bottom: 5px;
}

/*
.footer_bottom
  background-color: black;
  width: 100%;
  height: 100px;
*/
.cantera-container {
	background-color: transparent;
	height: calc(100% - 100px);
}

.main-container {
	width: 100%;
}

.footer {
	width: 100%;
	height: 100px;
	background-color: transparent;
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
}

.footer footer {
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
	font-family: 'silkalight';
	font-size: 14px;
}

@media (max-width: 900px) {
	.footer footer {
		flex-direction: column;
		align-items: center;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 12px;
	}
	
}

.footer footer .unacem {
	background-color: transparent;
	height: 40px;
	display: flex;
	align-items: center;
	padding-right: 20px;
	font-family: 'silkabold';
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #fff;
}

@media (max-width: 900px) {
	.footer footer .unacem {
		height: auto;
		margin-bottom: 5px;
	}
}

@media (max-width: 900px) {
	.footer footer .unacem {
		padding-right: 0px;
		border-right-style: none;
	}
}

.footer footer .copy {
	height: 40px;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

@media (max-width: 900px) {
	.footer footer .copy {
		height: auto;
		padding-left: 0px;
		display: block;
		text-align: center;
	}
}

.footer footer .copy b {
	font-family: 'silkabold';
}

.puntos {
	background-image: linear-gradient(to right, #fff 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 10px 1px;
	background-repeat: repeat-x;
	width: 100%;
	height: 1px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.logo {
	width: 230px;
	height: 65px;
}

.menu {
	display: flex;
	justify-content: flex-end;
}

.menu a {
	color: #fff;
	text-decoration: none;
	font-family: 'silkalight';
}

.menu span {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

.circle_content {
	display: flex;
	justify-content: flex-end;
	background-color: transparent;
}

.circle_content .circle_wraper {
	display: flex;
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	padding-top: 20px;
}

.circle_content .circle_wraper .circle.apu {
	height: 60px;
}

@media (max-width: 767px) {
	.circle_content .circle_wraper .circle.apu {
		height: 35px;
	}
}

.circle_content .circle_wraper .circle {
	width: 120px;
	height: 120px;
	background-color: transparent;
}

@media (max-width: 767px) {
	.circle_content .circle_wraper .circle {
		width: 75px;
		height: 75px;
	}
}

.box_capacitaciones {
	border-width: 2px;
	max-width: 410px;
	border-style: solid;
	padding: 25px;
	font-family: 'silkalight';
	padding-top: 20px;
	font-size: 12px;
}

.box_capacitaciones .title {
	font-family: 'silkabold';
	padding-right: 10px;
	font-size: 28px;
	line-height: 32px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.box_capacitaciones .arrow_content {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.box_capacitaciones .arrow_content .arrow {
	padding-bottom: 140px;
}

.box_capacitaciones .arrow_content .arrow .arrow-larga-derecha {
	width: 180px;
	margin-top: 5px;
}

.item {
	display: flex;
}

.item .numero {
	margin-right: 12px;
	font-size: 25px;
	margin-top: -7px;
}

.item .numero hr {
	margin-top: 12px;
}

.item .numero img {
	width: 20px;
}

.item .numero img.numero_uno {
	width: 12px;
	margin-right: 8px;
}

.item .contenido_add {
	margin-top: 10px;
	font-size: 13px;
	text-transform: none;
}

.item .contenido:hover {
	color: #fff;
}

.item .contenido a {
	text-decoration: none;
	color: #000;
}

.item .contenido a:hover {
	font-weight: bold;
}

.item .contenido {
	font-family: 'silkalight';
	font-size: 17px;
	text-decoration: none;
	color: #000;
	width: 100%;
	line-height: 19px;
	text-transform: uppercase;
}

.item .contenido .informacion {
	font-family: 'silkamedium';
	font-size: 13px;
	display: flex;
	margin-top: 30px;
}

.item .contenido .informacion .plus {
	width: 11px;
	height: 11px;
	margin-top: -1px;
	background-color: transparent;
	margin-right: 5px;
	display: block;
	background-size: cover;
}

.item .arrow_next {
	display: none;
}

.item .arrow_next img {
	width: 25px;
}

.youtube {
	color: #fff;
	width: 40px;
	height: 40px;
}

@media (max-width: 767px) {
	.youtube {
		height: 35px;
		width: 35px;
	}
}

.youtube_ico {
	font-family: 'silkalight';
	text-decoration: none !important;
}

@media (max-width: 767px) {
	.youtube_ico {
		font-size: 14px;
	}
}

.whatsapp_ico {
	font-family: 'silkalight';
	text-decoration: none !important;
	text-decoration: none;
}

@media (max-width: 767px) {
	.whatsapp_ico {
		font-size: 14px;
	}
}

.whatsapp {
	color: #fff;
	width: 40px;
	height: 40px;
}

@media (max-width: 767px) {
	.whatsapp {
		height: 35px;
		width: 35px;
	}
}

.mastfoot {
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.mastfoot .inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.menu_ico {
	display: none;
}

.menu_mobile_container {
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: rgba(0,0,0,0.3);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	z-index: 250;
}

.menu_mobile_container .close {
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: transparent;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

@media (max-width: 767px) {
	.menu_mobile {
		width: 70%;
		background-color: transparent;
		margin-top: 70px;
		margin-left: 25px;
		z-index: 500;
		position: absolute;
	}

	.menu_mobile ul {
		list-style-type: none;
		padding-left: 0px;
		margin-left: 0px;
	}

	.menu_mobile ul li {
		background-color: rgba(0,0,0,0.7);
		width: 100%;
		padding: 8px;
		border-style: solid;
		border-width: 1px;
		border-color: #fff;
		font-family: 'silkalight';
		margin-bottom: 10px;
		padding-bottom: 8px;
	}

	.menu_mobile ul li a {
		text-decoration: none;
	}

	.menu_ico {
		width: 60px;
		height: 60px;
		background-color: transparent;
		position: absolute;
		display: block;
		z-index: 200;
		top: 0px;
		left: 0px;
	}

	.menu_ico img {
		width: 30px;
		height: 30px;
		margin-top: 25px;
		margin-left: 25px;
	}

	.puntos {
		display: none;
	}

	.nav-masthead {
		display: none;
	}

	.barra_menu {
		display: none;
	}

	.item .contenido .informacion {
		display: none;
	}

	.item .arrow_next {
		display: block;
		margin-left: 10px;
	}

	.box_capacitaciones {
		max-width: none;
		width: 100%;
	}

	.masthead .inner {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.logo_cantera {
		display: block;
		width: 100%;
		background-color: transparent;
		margin-top: 10px;
	}

	.logo {
		width: 250px;
		margin-bottom: 20px;
	}
}
.terminos{
	text-align: justify;
	 
	 
}
.terminos table{
	border-width: 1px;
	border-color: white;
}
.terminos table tr td{
	border-width: 1px;
	border-color: white;
	padding: 5px;
}
@media (max-width: 991px) {
	.box_capacitaciones {
		margin-bottom: 20px;
	}
}




.terminos{
	font-size: small;
	text-align: justify;
}
.terminos_field{
	text-align: center;
	margin-top: 30px;
	font-family: 'silkalight';
	font-size: 14px;
	width: 100%;
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 600;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 0px auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
  background-color:#8D8E8E;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'silkamedium';
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #FFF;
}
.popup .content {
  overflow: auto;
}

@media screen and (max-width: 700px){
  .form-check-input{
	  margin-top: 2px;
  }	
  .terminos_field{
	  font-size: 12px;
  }	
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}





