body{
  background-color: #8D8E8E;
}
*{
  color: white;
}
.item .contenido{
  color: white !important;
}
.curso_video{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.curso_video iframe{
  margin-left: 100px;
  width: 100%;
}
.curso_video .btn_cantera{
  margin-top: 20px;
}
@media (max-width: 767px){
  .curso_video iframe{
    margin-top:20px;
  }
}
