body{
  background-color: #E52822;
}



#texto_cantera .cantera_maestro_inicio {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
/* height: 100vh; */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: block;
  z-index: -1;
}
#texto_cantera .item {
  display: block;
  font-size: 27px;
  line-height: 32px;
  text-align: left;
  font-family: 'silkabold';
}
#texto_cantera .small_text_cantera {
  font-size: 19px !important;
  line-height: 24px !important;
  padding-right: 20px;
}







.sound_ico{
	width: 35px;
	height: 35px;
	background-color: transparent;
	cursor: pointer;
	background-image: url(../../files/sound_inactive.svg);
	position: absolute;
	bottom: 50px;
	right: 50px;
}
.sound_ico.active{
	background-image: url(../../files/sound_active.svg);
}
.mobile{
	display: none;
}

@media (max-width: 767px){
	.mobile{
		display: block;
	}
	.desktop{
		display: none;
	}
	.small_text_cantera{
		font-size: 22px !important;
		line-height: 28px !important;
		padding-right: 20px;
	}	
}

#header .nav-link {
	font-family: 'silkalight';
	font-weight: 700;
	color: white;
}
#header .nav-link:hover{
	font-family: 'silkamedium';
}
#header .nav-link.selected{
	font-family: 'silkamedium';
}
.container_red_section{
	
}
.flecha_abajo_container{
	
}
.flecha_abajo{
	background-color: rgba(0,0,0,0.7);
	border-radius: 22.5px;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container_red_section .footer_inicio{
	width: 100%;
	background-color: black;
	bottom: 0px;
	position: relative;
}
#que_es_cantera{
	flex: 1;
}
.test{
	width: 100%;
	height: 50px;
	background-color:blue;
}
.logo_red{
	opacity: 0;
}
.btn_bottom_container{
  width: 100%;
  height: 150px;
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_bottom_container .btn_cantera{
  margin-right: 30px;
  	width: 190px; 
}
.btn_cantera{
  background-color: transparent;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border-style: solid;
  border-width: 2px;
  outline: none !important;
  font-family: 'silkamedium';
	width: 135px;
	text-align: center;
  cursor: pointer;
  text-decoration: none !important;
}
.btn_cantera:hover{
  background-color: black;
  font-weight: bold;
  text-decoration: none !important;
}
.video-header {
  text-align: center;
  width: 100vw;
  /*height: 100vh;*/
  height: calc(var(--vh, 1vh) * 100);
}
.video-header, .video-header video, .video-header .viewport-header {
  width: 100%;
  /*height: 100vh;*/
  height: calc(var(--vh, 1vh) * 100);
}
.video-header video {
  background: black;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.video-header .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
.video-header .viewport-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewport-header{
  position: absolute;
  z-index: 100;
}


.home_container{
  width: 100%;
  height: 100%;
}
/*
*{
  background-color: rgba(0,0,0,0.1);
}*/

.enlaces_right{
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0px;
  top:0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  justify-content: center;
  padding: 40px;
  padding-left: 60px;
  padding-right: 0px;
  background-color: transparent;
  font-family: 'silkabold';
  padding-right: 55px;
  pointer-events: none;
}
.enlaces_left{
  width: 400px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  padding-left: 60px;
  padding-right: 0px;
  
}
.lineas {
  width: 1px;
  height: 100%;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}
.enlaces_left span{
  display: block;
  font-size: 27px;
  line-height: 32px;
  text-align: left;
  font-family: 'silkabold';
}
.enlaces_right span{
  display: block;
  font-size: 27px;
  line-height: 32px;
  text-align: right;
  font-family: 'silkabold';
}
.flecha{
  background-color: transparent;
  width: 40px;
  margin-bottom: 20px;
}

.enlaces_top{
  width: 300px;
  height: 100%;
  position: absolute;
  right: 0;
  top:0;
  background-color: transparent;
}
.logo_cantera_container{
  background-color: transparent;
  width: 320px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.logo_cantera_home{
  width: 320px;
  height: 70px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: transparent;
}
.flecha_abajo{

}
.flecha_abajo img{
  width: 60px;
}
.lista_top{
  text-align: left;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-width: 1px;
  border-left-color: white;
  list-style: none;
  padding-left: 25px;
  margin-left: 0px;
  margin-top: 20px;
}
.lista_top li{
  padding-left: 0px;
  margin-left: 0px;
  background-color: transparent;
  padding-top: 5px;
  font-size: 18px;
  font-family: 'silkalight';
}
.lista_top li ul li{
	background-color: transparent;
	font-size: small;
}
.lista_top li ul{
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	padding-top: 0px;
	margin-top: 0px !important;
	margin-bottom: 10px;
}
.cantera_maestro_inicio{
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*height: 100vh;*/
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    display: block;
 }
 .cantera_maestro{
	display: none;	 
 }

.red_section{
  /*height: 100vh;*/
  height: calc(var(--vh, 1vh) * 100);
}
.nav{
	align-items: center !important;
}
.cover-vh{
  /*height: 100vh;*/
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}
/*.logo_cantera{
  display: none;
}*/
.logo_cantera_body{
  width: 370px;
  margin-bottom: 60px;
}
html{
  background-color: #E52822;
}
hr{
  color: white;
  border-color: white;
}
*{
  color: white;
}
.btn_ver_video{
  display: none;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  text-decoration: none !important;
  font-size: 20px;
  font-family: 'silkabold';
  width: 160px;
  position: relative;
  z-index: 100;
}
.btn_ver_video img{
  width: 25px;
}
.bottom_line{
    display: none;
    width: 90%;
    height: 2px;
    margin-bottom: 15px;
    background-color: white;
}
@media (max-width: 767px){
  
  #ques_es_cantera p{
	font-size: 11px;
	line-height: 14px;
	text-align: justify;
  }
  .enlaces_left.inicio{
	  padding-bottom: 95px;
  }
  .sound_ico{
	  display: none;
  }
  .enlaces_right{
	  display: none;
  }
  .logo_red{
	opacity: 1;
  }
  .cantera_maestro{
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*height: 100vh;*/
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    display: block;
   }
  .lineas.top {
    margin-top: 120px !important;
  }
  .btn_bottom_container{
    justify-content: space-around;
    background-color: transparent;
    height: 100px;
  }
  .btn_bottom_container .btn_cantera{
    margin-right: 0px;
    width: 45%;
    padding-left: 0px;
    padding-right: 0px;
    
  }
  .btn_bottom_container .btn_cantera:first-child{
	  margin-left: 2%;
  }
  .btn_bottom_container .btn_cantera:last-child{
	  margin-right: 2%;
  }
  .video-header video{
    display: none;
  }
  
  .btn_video{
    display: block;
  }
  .logo_cantera_body{
    display: none;
  }
  .logo_cantera{
    display: block;
  }
  main{
    padding-left: 25px;
    padding-right: 25px;
  }
  .circle_content{
    margin-top: 30px;
  }
  .lista_top{
    display: none;
  }
  .lineas.bottom{
      display: none;
  }
  .enlaces_left{
    width: 100%;
    padding-left: 40px;
  }
  .flecha{
    display: none;
  }
  .bottom_line{
      display: block;
  }
  .home_mobile_footer_logos{
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .btn_ver_video{
    display: block;
  }
  .flecha_abajo{
    display: none;;
  }
  .lineas.top{
    margin-top: 200px;
  }
  .lineas{
    margin-bottom: 30px;
  }
  .logo_cantera_home{
    width: 250px;
  }
}



.container_footer{
	position: relative;
}
.container_footer .back_button{
	position: absolute;
	right: 0px;
	top:-90px;
	width: 45px;
	height: 45px;
	background-color: transparent;
	background-image: url(../img/flecha-abajo-circulo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	 transform: rotate(90deg);
	 cursor: pointer;
}