h1{
	color: white;
  font-family: 'silkabold';
  text-align: center;
}
h2{
	color: white;
  font-family: 'silkabold';
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
input[type="radio"] {
  width: 30px;
}
.login_content{
	width: 100%;
	background-color: transparent;
	display: flex;
	justify-content:center;
	align-items: center;
}
label{
	color:white;
  display: block;
  font-family: 'silkamedium';
  margin-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.container p{
	font-family: 'silkalight';
}
.container ul{
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
}
.container ul li{
	font-family: 'silkalight';
	padding-left: 0px;
	margin-left: 0px;
}
.lcontent{
    display: flex;
    justify-content: flex-end;
}
.lcontent_end{
  display: flex;
  justify-content: center;
}
.lcontent .control{
  width: 280px;
  background-color: transparent;
  text-align: left;
}
input{
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  text-shadow: none;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color:white;
  width: 280px;
}
.btn_cantera{
  margin-top: 30px;
}
.login_footer_link{
	margin-top: 25px;
	color: white;
	font-family: 'silkamedium';
	font-size: 14px;
}

@media (max-width: 767px){
   .terminos{
	font-size: 12px;	
  }
  .lcontent{
    background-color: transparent;
    justify-content: center;
  }
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 20px;
  }
  .rcontent{
    display: flex;
    justify-content: center;
  }
}
