* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
	font-family: 'Open Sans'!important;
	font-size: 15px !important;
	font-weight: 600 !important;
}
.table-label{
	color: #FFF;
	background-color: #000 !important;
}
th{
	color: #FFF;
	background-color: #000;
}
th.active{
	color: #FFF;
	background-color: #000 !important;
}
.btn-default{
	border-color: rgba(0,0,0,0.1) !important;
}
.btn-primary{
	background-color: #000 !important;
	border-color: transparent !important;
}
.dropdown-menu>li>a{
	font-weight: 600 !important;
}
td{
	font-weight: 500 !important;
}

.navbar-brand{
	padding: 0 !important;
	padding-top: 5px !important;
	margin-right: 30px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: transparent !important;
	font-weight: bold;
	font-family: 'Open Sans';
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: transparent !important;
	font-weight: bold;
	font-family: 'Open Sans';
}

html.login, html.login body{ background-color:#888; }
html.login form{ margin-bottom:0; }
html.login div.modal{ position:relative;margin:48px auto;top:0;left:0; }
#modal-recovery{ display:none; }
.dropdown-menu{ display:none; }
.container.top{ margin-top:60px; }
.center{ text-align:center; }
form.search{ margin:0 0; }
.list-page h2 a{ float:right; }
.crud-actions{ width:158px; }

#footer {
  margin:30px 0 30px 0;
  background-color: #fff;
  background-repeat: no-repeat;
}

body.login #footer hr {
  display: none;
}

#footer p a {
  font-weight: bold;
}

#footer p {
  margin-bottom: 0;
}
#footer p.right {
  float: right;
}

.navbar-fixed-top .brand {
  color: #000000;
  float: right;
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
}

.plain-form {
  margin: 0 0;
}

.progress-form-file {
  margin: 18px 0;
  width: 260px;
}

.users-header a {
  float: right;
}

.reset-margin{
  margin: 0;
}

.pagination{
  text-align: center;
}
/*
label{
  margin: 0 20px;
}

form label:first-child{
  margin: 0 20px 0 12px;
}
*/
.container.login{margin-top: 60px;}
.sidebar-nav {
  padding: 9px 0;
}

.form-signin {
  max-width: 300px;
  text-align: center;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}



body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
ol.example li {
    cursor: pointer;
}
ol.example li.placeholder {
  position: relative;
}
ol.example li.placeholder:before {
  position: absolute;
}
li {line-height: 18px;}
ol.example {
  margin-top: 20px;
  max-width: 500px;
}
ol.example li {
    /*display: block;*/
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #666;
    background: #eeeeee;
}

/*RADIOBUTTONS*/
.pretty-radio-buttons{
	min-height: 25px;
	display: flex;
	align-items: center;
}
.radio label{
	vertical-align: top;
	padding-left: 30px !important;
}
.form-horizontal .radio{
	vertical-align: middle;
	display: inline;
}
/*RADIOBUTTONS END*/

.contenedor{
	margin-top: 8rem;
}
