@font-face {
    font-family: 'TradeGothic LT';
    src: url('TradeGothicLT.woff2') format('woff2'),
        url('TradeGothicLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('TradeGothicLT-Light.woff2') format('woff2'),
        url('TradeGothicLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('TradeGothicLT-Bold.woff2') format('woff2'),
        url('TradeGothicLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('TradeGothicLT-BoldOblique.woff2') format('woff2'),
        url('TradeGothicLT-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('TradeGothicLT-Oblique.woff2') format('woff2'),
        url('TradeGothicLT-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('TradeGothicLTStd-BdCn20.woff2') format('woff2'),
        url('TradeGothicLTStd-BdCn20.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



.logo_left{
    width: 120px;
    height: 49px;
}
.logo_right{
    width: 70px;
    height: 36px;
}
.top_logos{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
