.lcolumn{
	background-color: white;
	flex: 1 0 auto;
}
.rcolumn{
	background-color: white;
	flex: 1 0 auto;
}
.form-horizontal{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
.form_bottom{
	background-color: white;
	flex: 1 0 100%;
	flex-direction: column;
}

.form_bottom .col-sm-offset-3{
	margin-left: 20px;
}